html {
    height: 100%;
    margin: 0;
    padding-left: 4%;
    padding-right: 4%;
}

body {
    padding-bottom: 110px;
}
home-page {
    /* background-color: #ffcd9e; */
    /* display: flex; */
    /* min-height: 100vh; */
    /* padding-bottom: 100px; */
}
shop-page {
    /* background-color: #ffe9d6; */
        /* display: flex; */
    /* min-height: 100vh; */
    /* padding-bottom: 100px; */
}
about-page {
        /* display: flex; */
    /* min-height: 100vh; */
    /* padding-bottom: 100px; */
}

/* main {
    flex: 1;
} */



#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    width: 130px;
    height: 45px;
}

#cartdiv {
    background-color: #ff9a3d;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 2px 14px;
    border-radius: 999px;
}
#carticon {
    width: 35px;
    height: 30px;
    flex-shrink: 0;
}

#cartspan {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #fff;
    font-weight: 1500;
    font-size: 1.4rem;
    padding-left: 0.5px;
}

.navlinks {
    display: flex;
    gap: 45px;
}

.navlinks a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-size: 1.15rem;
    font-weight: 400;
    padding-top: 18px;
}

.mainparentdiv {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.subdiv {
    flex-basis: 42%;
    min-width: 300px;
}

.subdiv img {
    max-width: 100%;
    padding: 50px 0;
}

.subdiv h1 {
    color: #ff7a00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    line-height: 90px;
    margin: 25px 0px;
}

.btn {
    display: inline-block;
    background: #ff9a3d;
    color: #fff;
    padding: 12px 50px;
    margin: 30px 0;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
    left: 45%;
    top: -90px;
    font-family: Arial, Helvetica, sans-serif;
}

#aboutpara {
    background-color: black;
    margin: 50px auto;
    /* margin-right: 120px;
    margin-left: 120px; */
    padding: 30px;
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    max-width: 1000px;
    width: 100%;
}

#shop-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 25px;
}

.gadgets {
    max-width: 900px;
    margin: auto;
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
   justify-content: center;
}

.sub-div {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.sub-div img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.gadgets .sub-div p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 600;
    
}

button {
    background-color: #ff9a3d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    border-style: hidden;
    display: inline-block;
    color: black;
    padding: 6px 20px;
    margin: 7px 0;
    border-radius: 5px;
    text-decoration: none;
    position: relative;
 
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    /* margin-top: 15px; */
    /* display: flex; */
}

#footerDiv {
    padding-left: 35px ;
    padding-top: 27px;
    /* align-items: start;
    justify-content: center; */
}

#footerSpan {
    color: #fff;
    position: relative;
    top: 40px;
    left: 800px;
}

